<!DOCTYPE html>

<html>
<head>
    <title>Banking System - Login</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
    <style>
    body{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("https://wallpaperbat.com/img/211864-roadblocks-for-banks-seeking-shared-services-accenture-banking-blog.jpg")
    }
</style>
</head>
<body>
    <div class="container"><center>
    <h1> Welcome to your Dashboard </h1>   
    <h2> Login Successfull! </h2>  
 
    </form>
    </center></div>
</body>
</html>